* {color: rgb(54, 253, 203)}
body{
    margin: 0%;
    padding: 0%;
}
.fondo{
    background-image: url(../img/fondo.jpg);
    background-position: unset;
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    display: none;

}
@media screen and (max-width: 768px) {
    .fondo {
        background-image: url(../img/fondocelu.jpg);
        background-size: 100%;
        background-repeat: repeat-y;
      }
    }
    .bg-light {
        background-color: #92360c9d !important;
      }
    .carousel-item{
        background-position-x: center;
    }
label {text-decoration: underline}
.TituloPrincipal {border: 5px solid rgb(0, 0, 0)}
/*#TituloIndex {background-color: rgb(221, 218, 230)}*/
.segundaPagina {color: rgb(0, 0, 0)}